{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/wishlist'>
<table>
<p>Use this form to submit a search request:</p>
<tr><td>wish:</td><td><input name='wish' type='TEXT' width='60'></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

{% endblock %}
